.fit-image{
    width: 100%;
    object-fit: cover;
    height: 300px; /* only if you want fixed height */
    }

     ul.tick {
        list-style: none;
      }
      
      ul.tick li:before {
        content: '✓';
        color:orange;
      }

      .arrow{
          display: block;
      }


      .fa {
        padding: 20px;
        font-size: 30px;
        width: 30px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;
      }
      
      .fa-facebook {
        background: black;
        color: white;
      }
      
      .fa-twitter {
        background:black;
        color: white;
      }
      .fa-youtube {
        background: black;
        color: white;
      }
      
      .fa-instagram {
        background: black;
        color: white;
      }
      



